[Server]
Env="dev、test、prod"
Version="0.0.1"
Port=9080
ReadTimeout=30
WriteTimeout=30
Cors=false

[Log]
Level="debug"
Path="stderr"

[Database]
Type="mysql"
Host="localhost"
Port=3306
Database="test"
Prefix="t_"
User=""
Password=""
LogMode=true
PoolMaxIdle=2
PoolMaxOpen=30
PoolMaxTime=3600

[Redis]
Host="127.0.0.1"
Port=6379
Password=""
Database=0
ConnectTimeout=2
ReadTimeout=2
WriteTimeout=2
PoolMaxIdle=2
PoolMaxOpen=10
PoolMaxTime=1800

[Queue]
Driver="memory、redis、database"
Concurrent=5
